<h1>Welcome to Bidniz!</h1>

<h2>Add a business for sale</h2>
<p><%= link_to "Go Back to Dashboard", user_path(current_user)%></p>

<%= form_for (@business) do |f| %>
    <%= f.hidden_field :user_id %>
    
    <%= f.label :name %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_field :description %>
    <br>
    <%= f.label :address %>
    <%= f.text_field :address %>
    <br>
    <%= f.label :price %>
    <%= f.number_field :price %>
    <br>
    <%= f.submit "Create Business"%>

<% end %>