<h1>Bidniz!</h1>

<h3>Business Details: </h3>

<p>Name: <%= @business.name %></p>
<p>Description: <%= @business.description %></p>
<p>Address: <%= @business.address %></p>
<p>Price: $<%= @business.price %></p>

<% if @business.user_id == current_user.id%>
    <p><%= link_to "Delete Business", business_path(@business), method: :delete, data: { confirm: "Are you sure you want to take this business off the market?" }%></p>
<% end %>

<p><%= link_to "Go Back to Dashboard", user_path(current_user)%></p>

<h2>Comments</h2>
<% @comments.each do |c| %>
    <p><%= link_to c.user.name, user_path(c.user_id) %>: <%= c.content %></p>
<% end %>

<%= form_for([@business, @business.comments.build]) do |f| %>

    <p><%= f.label "Reply to thread" %></p>
    <%= f.text_area :content %>
    <br>
    <%= f.submit %>

<% end %>