<!DOCTYPE html>
<html>
    <head>
        <title>Bidniz!</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,800" />
        <style>
            #nav {
                background: #FF416C;
                /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); */
                /* background: linear-gradient(to right, #FF4B2B, #FF416C); */
                background-repeat: no-repeat;
                background-size: cover;
                height: 50px;
                border-radius: 10px;
                width: auto;

            }
            li {
                display: inline;
                padding: 50px;    
            }

            
            #header {
                text-align: center;
                
            }

            body {
                background: #f6f5f7;

                font-family: 'Montserrat', sans-serif;
            }

            .container {
	            /* background: #FF416C; */
                /* background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); */
                /* background: linear-gradient(to right, #FF4B2B, #FF416C); */
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                        0 10px 10px rgba(0,0,0,0.22);
                margin-top: 20px;
                width: auto;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }

            a {
                color: #000;
                font-size: 14px;
                text-decoration: none;
                margin: 15px 0;
            }

            button {
                border-radius: 20px;
                border: 1px solid #FF4B2B;
                background-color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
                padding: 10px 25px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;
            }

            #ajax-comment-data {
                text-align: center;
            }

            #ajax-new-comment {
                text-align: center;
            }

        </style>
    </head>
    <body>
        <div id="header">
            <h1>Bidniz!</h1>
            <div id="nav">
                <ul>
                <li><%= link_to "Dashboard", user_path(current_user)%></li>
                <li><%= link_to "My Businesses", user_businesses_path(current_user) %></li>
                <li><%= link_to "Logout", logout_path, method: :delete %></li>
                </ul>
            </div>
        </div>
        <div class="container" id="container">
            <h3>Business Details: </h3>

            <p>Name: <%= @business.name %></p>
            <p>Description: <%= @business.description %></p>

            <button id="businesses-more-info" data-id="<%= @business.id %>"> More Info </button>
            <br>
            <div id='ajax-additional-info'> </div>

            <p>Address: <%= @business.address %></p>
            <p>Price: $<%= @business.price %></p>

            <% # View and Add Tags %>
            <h2>Tags</h2>
            <% @business.tags.each do |t| %>
                <p><%= t.name if t.name %></p>
            <% end %>

            <%= form_for([@business, @business.tags.build]) do |f| %>

                <p><%= f.label "Add a tag" %></p>
                <%= f.text_field :name %>
                <br>
                <%= f.submit %>

            <% end %>

            <% if @business.user_id == current_user.id %>
                <h4><%= link_to "Edit", edit_business_path(@business) %></h4>
            <% end %>

            <% if @business.user_id == current_user.id%>
                <h4><%= link_to "Delete Business", business_path(@business), method: :delete, data: { confirm: "Are you sure you want to take this business off the market?" }%></h4>
            <% end %>

            <h2>Comments</h2>
            <% @comments.each do |c| %>
                <p><%= link_to c.user.name, user_path(c.user_id) %>: <%= c.content %></p>
            <% end %>

            <%= form_for([@business, @business.comments.build]) do |f| %>

                <p><%= f.label "Reply to thread" %></p>
                <%= f.text_area :content %>
                <br>
                <%= f.submit %>

            <% end %>
        </div>
    </body>
</html>