<h1>Welcome to Bidniz!</h1>

<h2>Login</h2>

<%= form_for (@user), url: '/login' do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, required:true  %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, required:true  %>
    <br>
    <%= f.submit "Log In" %>
    <button type="button" class="loginBtn loginBtn--facebook"><%= link_to "Login with Facebook", '/auth/facebook' %></button>
<% end %>

<p><%= link_to "Need to create an account?", new_user_path %></p>