
<!DOCTYPE html>
<html>
    <head>
        <title>Bidniz!</title>
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Montserrat:400,800" />
        <style>
            * {
                box-sizing: border-box;
            }

            body {
                background: #f6f5f7;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-family: 'Montserrat', sans-serif;
                height: 100vh;
                margin: -20px 0 50px;
            }

            h1 {
                color: #FFFFFF;
                font-weight: bold;
                margin: 20;
            }

            h2 {
                color: #FFFFFF;
                text-align: center;
            }

            p {
                font-size: 14px;
                font-weight: 100;
                line-height: 20px;
                letter-spacing: 0.5px;
                margin: 20px 0 30px;
            }

            span {
                font-size: 12px;
            }

            a {
                color: #000;
                font-size: 14px;
                text-decoration: none;
                margin: 15px 0;
            }

            button {
                border-radius: 20px;
                border: 1px solid #FF4B2B;
                background-color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
                padding: 12px 45px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;
                width: 300px;
            }
            
            .button {
                border-radius: 20px;
                border: 1px solid #FF4B2B;
                background-color: #FFFFFF;
                font-size: 12px;
                font-weight: bold;
                padding: 12px 45px;
                letter-spacing: 1px;
                text-transform: uppercase;
                transition: transform 80ms ease-in;
                width: 300px;
            }

            button:active {
                transform: scale(0.95);
            }

            button:focus {
                outline: none;
            }

            button.ghost {
                background-color: transparent;
                border-color: #FFFFFF;
            }

            .forms {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                padding: 0 50px;
                height: 100%;
                text-align: center;
            }

            input {
                background-color: #eee;
                border: none;
                padding: 12px 12px;
                margin: 8px 0;
                width: 100%;
                text-align: center;
            }

            .container {
	            background: #FF416C;
                background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
                background: linear-gradient(to right, #FF4B2B, #FF416C);
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10px;
                box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
                        0 10px 10px rgba(0,0,0,0.22);
                position: relative;
                width: 768px;
                max-width: 100%;
                min-height: 480px;
            }

            .form-container {
                position: relative;
                top: 0;
                height: 100%;
                transition: all 0.6s ease-in-out;
            }


        </style>
    </head>
    <body>
        <div class="container" id="container">
            <div class="form-container sign-in-container">
                <div class="forms">
                    <h1>Welcome to Bidniz!</h1>
                    <h2>Sign In</h2>
                    <%= form_for (@user), url: '/login' do |f| %>
                        <%= f.email_field :email, placeholder: "Email", required:true  %>
                        <br>
                        <%= f.password_field :password, placeholder: "Password", required:true  %>
                        <br>
                        <%= f.submit "Login In", :class => "button"%>
                        <button><%= link_to "Login with Facebook", '/auth/facebook' %></button>
                        <p><%= link_to "Need to create an account?", new_user_path %></p>
                    <% end %>
                </div>
            </div>
        </div>
    </body>
</html>