<h1> Welcome to Bidniz!</h1>

<h2>Create an account</h2>

<%= form_for (@user) do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name, required:true %>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email, required:true %>
    <br>
    <%= f.label :phone_number %>
    <%= f.number_field :phone_number, required:true %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password, required:true %>
    <br>
    <%= f.submit "Sign Up" %>
    
    Or
   
    <button type="button" class="loginBtn loginBtn--facebook"><%= link_to "Sign Up with Facebook", '/auth/facebook' %></button>
    
    <% end %>