<h1>Bidniz!</h1>


<% if current_user != @user %>
    <h2>You are logged in as <%= current_user.name %>(<%= current_user.email%>)!</h2>
    <h3>You are viewing <%= @user.name %>'s profile </h3>
    <h4><%= @user.name %>'s Businesses for Sale:</h4>

    <% @user.businesses.each do |b| %>
        <h4><%= link_to b.name  %></h4>
        <p>Description: <%= b.description %></p>
        <p>Address: <%= b.address %></p>
        <p>Price: <%= b.price %></p>
    <% end %>
    <%= link_to "Go Back to Dashboard", user_path(current_user)%>
<% end %>

<% #if @user.businesses.count > 0 %>

    <% if logged_in? && current_user == @user %>
        <h2>Welcome to Your Dashboard, <%= current_user.name %>!</h2>
        <p><%= link_to "View All Your Businesses For Sale", user_businesses_path(current_user) %><p>
        <p><%= link_to "Sell A Business", new_business_path %><p>
        <%= link_to "Logout", logout_path, method: :delete %>
    <% end %>
<% #end %>

